body {
  background-color: #f2fff9;
}

.mainGreen {
  background-color: #00C853;
}

.topG4G {
  margin-left: 10%;
}

.postCard {
  background-color: #EEEEEE;
}

.postTime {
  margin-bottom: 2rem;
}

.userProfileName {
  font-weight: bold;
}

.likeCommentButton {
  background-color: #00C853;
}
.likeCommentButton:hover {
  background-color: #9bfc9c;
}

.loginPageButton {
  background-color: #00C853;
}
.loginPageButton:hover {
  background-color: #9bfc9c;
}

.cancelButton {
  background-color: #e94646;
}
.cancelButton:hover {
  background-color: #fa8989;
}

/*Changing the highlight color of text inputs*/
.input-field input[type=text]:focus + label {
  color: #00C853;
  /*box-shadow: 0 1px 0 0 black;*/
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #00C853;
  box-shadow: 0 1px 0 0 #00C853;
}
.input-field input[type=password]:focus + label {
  color: #00C853;
  /*box-shadow: 0 1px 0 0 black;*/
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid #00C853;
  box-shadow: 0 1px 0 0 #00C853;
}
