<!DOCTYPE html>
<html ng-app='goalsMaterial'>
  <head>
    <meta charset="utf-8">
    <title>G4G</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js'></script>
    <script src='js/controllers.js'></script>
    <link rel='stylesheet' href='assets/stylesheets/styles.css'>
    <script>
    $(document).ready(function() {
      $('.modal-trigger').leanModal();
    });
    </script>
  </head>
  <body ng-controller='indexCtrl as IC'>
    <nav class='mainGreen' role='navigation'>
      <div class='nav-wrapper'>
        <a id='logo-container' href='#' class='brand-logo topG4G'>Goals 4 Glory</a>
        <ul class='right hide-on-med-and-down container'>
          <li class='active'>
            <a href='#' class='selected'>My Profile</a>
          </li>
          <li>
            <a href='#'>News Feed</a>
          </li>
          <li>
            <a href='#'>My Stats</a>
          </li>
          <li>
            <a href='#'>About G4G</a>
          </li>
          <li>
            <i class='material-icons'>settings</i>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Just a spacer for the content -->
    <div class='row'>
    </div>
    <div class='row'>
      <div class='col m3'>
        <img class='responsive-img' src='assets/images/profilePic.jpg'>
        <h3 class='flow-text userProfileName heading h3'>{{IC.currentUser.name}}</h3 class='flow-text'>
        <a class='modal-trigger btn' href='#editProfileModal'>Edit Info<i class='material-icons'>mode_edit</i></a>
        <!-- Modal for editing info -->
        <div id='editProfileModal' class='modal'>
          <div class='modal-content'>
            <div class='row'>
                <h4>Edit Info</h4>
                <div class='input-field'>
                  <input id='quoteChange' class='validate' placeholder='{{IC.currentUser.quote}}' type='text' ng-model='newQuote'></input>
                  <label for='quoteChange'>Quote</label>
                <div class='input-field'>
                  <input id='sportChange' class='validate' placeholder='{{IC.currentUser.sport}}' type='text' ng-model='newSport'></input>
                  <label for='sportChange'>Favorite Sport</label>
                </div>
                <div class='input-field'>
                  <div class='chip' ng-repeat='sport in IC.currentUser.otherSports'>
                    {{sport}}
                  </div>
                  <!-- GOTTA DO SPORT EDITING RIGHT HERE -->
                  <!-- <div class='' -->
                </div>
                  <a class='waves-effect waves-light btn loginPageButton modal-close' type='submit'  ng-click='IC.changeInfo(newQuote, newSport)'>Save</a>
                  <a class='waves-effect waves-dark btn cancelButton modal-close'>Cancel</a>
                </div>
            </div>
            <div class='row'>
            </div>
          </div>
        </div>
        <blockquote>
          {{IC.currentUser.quote}}
        </blockquote>
        <h4 class='flow-text'>{{IC.currentUser.sport}}</h4>
        <div class='row'>
          Other sports:
          <ul>
            <li ng-repeat='sport in IC.currentUser.otherSports'>
              <div class='chip'>
                {{sport}}
              </div>
            </li>
          </ul>
        </div>
        <div class='row'>
          Favorite Athlete:
          <h4 class='flow-text heading h4'>{{IC.currentUser.favoriteAthlete}}</h4>
        </div>
        <div class='row'>

        </div>
      </div>
      <div class='col m7'>
        <div class='row'>
          <div class="row">
            <div class="input-field col m11">
              <i class="material-icons prefix">mode_edit</i>
              <input id="icon_prefix2" class="validate" type='text'></input>
              <label for="icon_prefix2">Post Something</label>
            </div>
          </div>
        </div>
        <div class="card postCard darken-1" ng-repeat='post in IC.currentUser.recentPosts'>
          <div class="card-content black-text">
            <span class="card-title">{{IC.currentUser.name}}<h6 class='right postTime'>Posted on {{post.time}}</h6></span>
            <p>{{post.text}}</p>
          </div>
          <div class="card-action">
            <a class='waves-effect likeCommentButton waves-light black-text btn'>Like</a>
            <a class='waves-effect likeCommentButton black-text waves-light btn'>Comment</a>
            <h6 class='right' ng-show='post.likes.length > 0'>{{post.likes.length}} people like this</h6>
          </div>
        </div>
      </div>
      <div class='col m2'>
        <h5>{{IC.currentUser.name}}'s Highlights</h5>
        <blockquote ng-repeat='feat in IC.currentUser.highlights'>
          {{feat}}
        </blockquote>
      </div>
    </div>
  </body>
</html>
